/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

a {
  color: #BBE1FA;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

p {
  color:#1B262C;
}


/*index.html*/

/*Header*/
header {
  display:flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 99;

  background: #1B262C;
  padding: 10px;
}

header nav {
  flex: 1;
  margin-left: 40px;
}

header nav ul {
  font-size: 1.5rem;
  display:flex;
  justify-content: space-between;
  list-style: none;
}

header a:hover {
  background-color: #0F4C75;
}



/* main */
#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #BBE1FA;
  min-height: 100dvh;
  background-image: url('../images/circles.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#description {
  font-size: xx-large;
  padding: 30px;
  color:#1B262C;
}

#choose-level {
  font-size: x-large;
  color:#1B262C;
}

.levels {
  display:flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;
}

.levels p {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #3282B8;
  box-shadow: 15px 15px 0px #0F4C75;
  outline-color: #0F4C75;
  outline-style: solid;
  color: #1B262C;
  font-size: 25px;
}

.levels p:hover {
  background-color: #0F4C75;
}
.levels a {
  border-radius: 0px;
}

section:has(.levels:hover) {
  animation-name: colorchange;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes colorchange {
  100% {background-image: url('../images/circlesoutline.svg');}
}











/*A1-A2 Page*/
#A1-A2 {
  display: flex;
  flex-direction: row;
  min-height: 100dvh;


  background-image: url('../images/wavesblue.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  overflow: auto;
}

.roadmap-steps {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  padding: 100px 20px;

  font-weight: bold;
  font-size: 1.2rem;
}

.roadmap-steps p {
  background-color: #FAD4BB;
  padding: 10px 20px;
  box-shadow: 15px 15px 0px #F4A16A;
  width: 400px;
  text-align: center;

  transition: transform 0.3s ease;
}

.roadmap-steps p:hover {
  background-color: #F4A16A;
  transform: translateX(5px) skew(-3deg,0deg);
}

.details-for-every-topic {
  flex: 1;
  
  display:flex;
  flex-direction: column;
  align-items: center;

  background-color: #F4A16A;
  background-image: url('../images/peaksorange.svg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  border-left: 5px solid #1B262C;
}

.detailed-content {
  display:none;
  color: #1B262C;
  text-align: center;

  padding-top: 80px;
}

.detailed-content:target{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.detailed-content:target h2, h3, h4{
  padding: 50px 0px 20px 0px;
}

.detailed-content:target h5, h6 {
  padding: 70px 0px 10px;
  color:#BBE1FA;
  font-weight: bold;
  font-style: italic;
}

.additional-content {
  font-weight: bold;
  font-style: italic;
  font-size: 0.8rem;
}

.sub-information {
  padding: 20px 0px 0px 0px;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: bold;
}

.sub-sub-information {
  padding: 00px 0px 0px 0px;
  font-size: 0.75rem;
  font-style: italic;
}

.detailed-content ul {
  list-style: none;
}
.detailed-content li{
  padding: 5px 0px;
}



/*mobile responsiveness*/
@media (max-width: 768px) {
  header{
    gap: 15px;
    padding: 15px;
  }

  header nav {
    margin-left: 0;
    width: 100%;
  }
  
  header nav ul {
    font-size: 16px;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
  }



  
  #A1-A2 {
    flex-direction: column;
    height: auto;
  }
  
  .roadmap-steps p{
    width:100%;
    max-width: 320px;
    font-size: 1rem;
  }

  .details-for-every-topic{
    border: none;
    min-height: 100dvh;
    border-top: 5px solid #1B262C;
  }
  
}


/* footer */
footer {
  display:flex;
  justify-content: space-between;
  align-items: center;

  background: #1B262C;
  padding: 10px;
}

footer ul {
  font-size: 1.2rem;
  display:flex;
  justify-content: space-between;
  list-style: none;
}

footer a:hover {
  background-color: #0F4C75;
}
