/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

a {
  color: #BBE1FA;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

p {
  color:#1B262C;
}


/*index.html*/

/*Header*/
header {
  display:flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 99;

  background: #1B262C;
  padding: 10px;
}

header nav {
  flex: 1;
  margin-left: 40px;
}

header nav ul {
  font-size: 1.5rem;
  display:flex;
  justify-content: space-between;
  list-style: none;
}

header a:hover {
  background-color: #0F4C75;
  background-image: linear-gradient(to right, rgba(50,130,184,1), rgba(15,76,117,1));
}



/* main */
#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #BBE1FA;
  min-height: 100dvh;
  background-image: url('../images/circles.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#description {
  font-size: xx-large;
  padding: 30px;
  color:#1B262C;
  text-align: center;
}

#choose-level {
  font-size: x-large;
  color:#1B262C;
  text-align: center;
}

.levels {
  display:flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}
.levels {
  list-style: none;
}

.levels p {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #3282B8;
  box-shadow: 15px 15px 0px #0F4C75;
  outline-color: #0F4C75;
  outline-style: solid;
  color: #1B262C;
  font-size: 25px;

  transition: transform 0.3s ease;
}

.levels p:hover {
  background-color: #0F4C75;
  transform: translateX(5px) skew(-3deg,0deg);
}
.levels a {
  border-radius: 0px;
}

section:has(.levels p:hover) {
  animation-name: colorchange;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes colorchange {
  100% {background-image: url('../images/circlesoutline.svg');}
}











/*A1-A2 Page*/
#A1-A2 {
  display: flex;
  flex-direction: row;
  min-height: 100dvh;


  background-image: url('../images/wavesblue.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  overflow: auto;
}

.roadmap-steps {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  padding: 100px 20px;

  font-weight: bold;
  font-size: 1.2rem;
}

.roadmap-steps ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  padding: 0px;
  list-style: none
}

.roadmap-steps li {
  background-color: #FAD4BB;
  padding: 10px 20px;
  box-shadow: 15px 15px 0px #F4A16A;
  width: 400px;

  transition: transform 0.3s ease;
}

.roadmap-steps li a {
  display: block;
  text-align: center;
  color: #1B262C;
}

.roadmap-steps li:hover {
  background-color: #F4A16A;
  transform: translateX(5px) skew(-3deg,0deg);
}

.details-for-every-topic {
  flex: 1;
  
  display:flex;
  flex-direction: column;
  align-items: center;

  background-color: #F4A16A;
  background-image: url('../images/peaksorange.svg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  border-left: 5px solid #1B262C;
}

.detailed-content {
  display:none;
  color: #1B262C;
  text-align: center;

  padding-top: 80px;
}

.detailed-content:target{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.detailed-content:target h2, h3, h4{
  padding: 50px 0px 20px 0px;
}

.detailed-content:target h5, h6 {
  padding: 70px 0px 10px;
  color:#BBE1FA;
  font-weight: bold;
  font-style: italic;
}

h5::before, h5::after{
  content:"";
  background-image: radial-gradient(circle,#BBE1FA, #F4A16A);
  display:block;
  width: 110%;
  height:6px;
  margin-left: -5%;
}

.additional-content {
  font-weight: bold;
  font-style: italic;
  font-size: 0.8rem;
}

.sub-information {
  padding: 20px 0px 0px 0px;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: bold;
}

.sub-sub-information {
  font-size: 0.8rem;
  font-style: italic;
  display:block;
}

.detailed-content ul {
  list-style: none;
}
.detailed-content li{
  padding: 5px 0px;
}





#signing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;

  background-image: url('../images/blobs.svg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  font-size: 1.3rem;
}

#signing form legend {
  display: none;
}

#signing form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  background-color:#1B262C;
  padding: 20px;
  color: #BBE1FA;
}

#signing form label {
  display: flex;
  padding: 10px;
  margin-top: 20px;
}

#signing form {
  width:100%;
  max-width: 700px;
  box-shadow: 25px 25px 0px #1B262C;
  margin: 50px 0px 100px 0px;
}

#signing form input {
  padding: 10px;
  width:100%;
  margin: 5px 0;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #0F4C75;
  color:#BBE1FA;
  font-size: 1.0rem;
  border:none;
}

#signing form input::placeholder {
  color:#BBE1FA;
}

#signing form input:focus {
  background-color: #3282B8;
}

#signing form select {
    background-color: #0F4C75;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    color:#BBE1FA;
    font-size: 1.0rem;
    border:none;
    padding: 10px;
    margin: 5px 0;
}

#signing form .submit:hover {
  background-color: #3282B8;
}
#signing .submit {
  padding: 15px;
  margin-top: 50px; 
}


#signing.login {
  background-image: url('../images/blob-log-in.svg')
}


.references {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  min-height: 100dvh;


  background-image: url('../images/about-page-background.svg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.resources-title{
  font-weight: bold;
  font-size: 3rem;
  margin: 20px 0px 20px 0px;
}

.references ul {
  list-style: none;
  font-style: italic;
  font-size: 1.5rem;
}
.references ul a {
  color:#F4A16A;
  font-weight: bold;
}

.references p {
  font-weight: bold;
  font-size: 2rem;
  margin: 20px 0px 20px 0px;
}



/*mobile responsiveness*/
@media (max-width: 768px) {
  header{
    gap: 15px;
    padding: 15px;
  }

  header nav {
    margin-left: 0;
    width: 100%;
  }
  
  header nav ul {
    font-size: 16px;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
  }


  #description {
    font-size: x-large;
  }

  #choose-level {
    font-size: large;
  }

  .levels {
    gap: 50px;
    margin-bottom: 30px;
  }

  




  #A1-A2 {
    flex-direction: column;
    height: auto;
  }
  
  .roadmap-steps ul{
    width:100%;
    max-width: 320px;
    font-size: 1rem;
  }

  .details-for-every-topic{
    border: none;
    min-height: 100dvh;
    border-top: 5px solid #1B262C;
  }
  
}


/* footer */
footer {
  display:flex;
  justify-content: space-between;
  align-items: center;

  background: #1B262C;
  padding: 10px;
}

footer ul {
  font-size: 1.2rem;
  display:flex;
  justify-content: space-between;
  list-style: none;
}

footer a:hover {
  background-color: #0F4C75;
  background-image: linear-gradient(to right, rgba(50,130,184,1), rgba(15,76,117,1));
}
